<div class="">
    <div class="underline text-gray-600 rounded text-4xl text-center font-bold p-3">
        <h1 class="m-3"><%= @trip.name %> Trip<h1>
    </div>

    <div class="text-right mb-5 space-x-3">
        <%= link_to "<- Back to trips", trips_path,
         class:"text-white bg-teal-500 p-3 rounded font-bold",
         data: {turbo_frame: "_top"} %>
        <%= link_to "Edit trip", edit_trip_path(@trip),
        class: "bg-blue-500 text-white p-3 rounded font-semibold" %>
        <%= link_to "Delete trip", trip_path(@trip), 
        data: {turbo_method: :delete, turbo_confirm: "Are your sure ?"},
        class: "bg-red-700 text-white p-3 rounded font-semibold" %>
    </div><hr>

    <div class="mt-2">
        <div class="sm:flex sm:flex-row p-[0.1rem]">
            <div class="basis-1/2 bg-gray-500 p-3 text-white font-bold">
                Origin :
            </div>
            <div class="basis-1/2 bg-gray-200 p-3 text-gray-500 font-bold">
                <%= @trip.origin %>
            </div>
        </div>

        <div class="sm:flex sm:flex-row p-[0.1rem]">
            <div class="basis-1/2 bg-gray-500 p-3 text-white font-bold">
                Destination :
            </div>
            <div class="basis-1/2 bg-gray-200 p-3 text-gray-500 font-bold">
                <%= @trip.destination %>
            </div>
        </div>

        <div class="sm:flex sm:flex-row p-[0.1rem]">
            <div class="basis-1/2 bg-gray-500 p-3 text-white font-bold">
                Reason :
            </div>
            <div class="basis-1/2 bg-gray-200 p-3 text-gray-500 font-bold">
                <%= @trip.reason %>
            </div>
        </div>

        <div class="sm:flex sm:flex-row p-[0.1rem]">
            <div class="basis-1/2 bg-gray-500 p-3 text-white font-bold">
                For how long :
            </div>
            <div class="basis-1/2 bg-gray-200 p-3 text-gray-500 font-bold">
                <%= @trip.for_how_long %>
            </div>
        </div>
    </div>
    
</div>