<%= form_with model: [ @trip, @pit_stop ] do |form| %>
    <div class="mx-auto space0y-3 w-full mb-3">

        <div class="text-right pb-3 mb-5">
            <%= link_to "<- Back ", :back,
                data: {turbo_frame: "_top"}, 
                class: "back-btn"%>
        </div>
        <hr>

        <% if @pit_stop.errors.any? %>
        <h2 class="text-red-500 bg-red-100 p-3 font-bold rounded mt-3"> 
            <%= pluralize(@pit_stop.errors.count, "error") %>
        </h2>

            <ul class="ml-5 mb-2">
                <% @pit_stop.errors.full_messages.each do |error| %>
                <li class="text-red-500 font-mono list-disc"><%= error %></li>
                <% end %>
            </ul>
            <hr>
        <% end %>

        <div class="mt-3">
            <%= form.label :name, class: "text-gray-700 font-semibold" %>
            <%= form.text_field :name, class: "text-field" %>
        </div>

        <div>
            <%= form.label :location, class: "text-gray-700 font-semibold" %>
            <%= form.text_field :location, class: "text-field" %>
        </div>

        <div>
            <%= form.label :remarks, class: "text-gray-700 font-semibold" %>
            <%= form.text_area :remarks, class: "rich-text" %>
        </div>

        <div class="my-5">
            <%= form.submit(class: "submit-btn") %>
        </div>
    </div>
<% end %>